# **Assignment For Numpy**

Difficulty Level **Beginner**

1. Import the numpy package under the name np

In [1]:
import numpy as np

2. Create a null vector of size 10

In [4]:
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

3. Create a vector with values ranging from 10 to 49

In [6]:
arr1 = np.arange(10,50)
arr1

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49])

4. Find the shape of previous array in question 3

In [7]:
arr1.shape

(40,)

5. Print the type of the previous array in question 3

In [11]:
type(arr1)

numpy.ndarray

6. Print the numpy version and the configuration

In [3]:
print(np.__version__)
print(np.show_config())

1.19.2
blas_mkl_info:
    libraries = ['mkl_rt', 'pthread']
    library_dirs = ['/home/muhammad-atique/anaconda3/lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['/home/muhammad-atique/anaconda3/include']
blas_opt_info:
    libraries = ['mkl_rt', 'pthread']
    library_dirs = ['/home/muhammad-atique/anaconda3/lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['/home/muhammad-atique/anaconda3/include']
lapack_mkl_info:
    libraries = ['mkl_rt', 'pthread']
    library_dirs = ['/home/muhammad-atique/anaconda3/lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['/home/muhammad-atique/anaconda3/include']
lapack_opt_info:
    libraries = ['mkl_rt', 'pthread']
    library_dirs = ['/home/muhammad-atique/anaconda3/lib']
    define_macros = [('SCIPY_MKL_H', None), ('HAVE_CBLAS', None)]
    include_dirs = ['/home/muhammad-atique/anaconda3/include']
None

7. Print the dimension of the array in question 3

In [13]:
arr1.ndim

1

8. Create a boolean array with all the True values

In [14]:
arr=np.arange(10)
arr>-1

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True])

9. Create a two dimensional array

In [19]:
arr2 = np.array([[1,2,3,4,5],[11,22,33,44,55]])
arr2.ndim

2

10. Create a three dimensional array

In [18]:
arr3 = np.array([[[1,2,3,4,5],[11,22,33,44,55]],[[1.1,2.2,3.3,4.4,5.5],[232,4546,343,3435,343]]])
arr3.ndim

3

Difficulty Level **Easy**

11. Reverse a vector (first element becomes last)

In [22]:
arr = np.arange(10)
np.flip(arr)

array([9, 8, 7, 6, 5, 4, 3, 2, 1, 0])

12. Create a null vector of size 10 but the fifth value which is 1

In [25]:
arr = np.zeros(10)
arr[4]=5
arr

array([0., 0., 0., 0., 5., 0., 0., 0., 0., 0.])

13. Create a 3x3 identity matrix

In [26]:
np.eye(3,3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

14. arr = np.array([1, 2, 3, 4, 5]) 

---

 Convert the data type of the given array from int to float

In [22]:
arr=np.array([1,2,3,4,5])
arr.astype(np.float)

array([1., 2., 3., 4., 5.])

15. arr1 =          np.array([[1., 2., 3.],

                    [4., 5., 6.]])  
                      
    arr2 = np.array([[0., 4., 1.],
     
                   [7., 2., 12.]])

---


Multiply arr1 with arr2

In [29]:


    arr1 = np.array([[1., 2., 3.],

                [4., 5., 6.]])  

    arr2 = np.array([[0., 4., 1.],

               [7., 2., 12.]])

print(arr1*arr2)

print("====================================================")

[[ 0.  8.  3.]
 [28. 10. 72.]]
====================================================

16. arr1 = np.array([[1., 2., 3.],
                    [4., 5., 6.]]) 
                    
    arr2 = np.array([[0., 4., 1.], 
                    [7., 2., 12.]])


---

Make an array by comparing both the arrays provided above

In [31]:
arr1 == arr2

array([[False, False, False],
       [False, False, False]])

17. Extract all odd numbers from arr with values(0-9)

In [35]:
arr = np.arange(10)
mask =arr%2
arr[mask==1]

array([1, 3, 5, 7, 9])

18. Replace all odd numbers to -1 from previous array

In [37]:
arr[mask == 1]= -1
arr

array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1])

19. arr = np.arange(10)


---

Replace the values of indexes 5,6,7 and 8 to **12**

In [49]:
arr =np.arange(10)
arr[5:9]=12
arr

array([ 0,  1,  2,  3,  4, 12, 12, 12, 12,  9])

20. Create a 2d array with 1 on the border and 0 inside

In [57]:
arr = np.ones((5,5))
arr[1:4,1:4]=0
arr

array([[1., 1., 1., 1., 1.],
       [1., 0., 0., 0., 1.],
       [1., 0., 0., 0., 1.],
       [1., 0., 0., 0., 1.],
       [1., 1., 1., 1., 1.]])

Difficulty Level **Medium**

21. arr2d = np.array([[1, 2, 3],

                    [4, 5, 6], 

                    [7, 8, 9]])

---

Replace the value 5 to 12

In [74]:
arr2d = np.array([[1, 2, 3],[4, 5, 6],[7, 8, 9]])
arr2d[1,[1]]=12
arr2d

array([[ 1,  2,  3],
       [ 4, 12,  6],
       [ 7,  8,  9]])

22. arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])

---
Convert all the values of 1st array to 64

In [82]:
arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])
arr3d[0] =64
arr3d

array([[[64, 64, 64],
        [64, 64, 64]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

23. Make a 2-Dimensional array with values 0-9 and slice out the first 1st 1-D array from it

In [90]:
arr = np.arange(10).reshape(2,5)
arr[0:1,0:]

array([[0, 1, 2, 3, 4]])

24. Make a 2-Dimensional array with values 0-9 and slice out the 2nd value from 2nd 1-D array from it

In [94]:
arr = np.arange(10).reshape(2,5)
print(arr)
arr[1:,1:2]

[[0 1 2 3 4]
 [5 6 7 8 9]]

array([[6]])

25. Make a 2-Dimensional array with values 0-9 and slice out the third column but only the first two rows

In [96]:
arr = np.arange(10).reshape(2,5)
print(arr)
arr[:,2:3]

[[0 1 2 3 4]
 [5 6 7 8 9]]

array([[2],
       [7]])

26. Create a 10x10 array with random values and find the minimum and maximum values

In [117]:
arr = np.random.randn(10,10)
x = np.amax(arr)
y = np.amin(arr)

print('{0} = {1}'.format('Maximum value',x))
print('{0} = {1}'.format('Minimum value',y))

Maximum value = 2.563845740098836
Minimum value = -2.5587557542593986

27. a = np.array([1,2,3,2,3,4,3,4,5,6]) b = np.array([7,2,10,2,7,4,9,4,9,8])
---
Find the common items between a and b

In [130]:
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])

np.intersect1d(a,b)

array([2, 4])

28. a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])

---
Find the positions where elements of a and b match

In [139]:
a = np.array([1,2,3,2,3,4,3,4,5,6]) 
b = np.array([7,2,10,2,7,4,9,4,9,8])
c= np.where(a==b)
c

(array([1, 3, 5, 7]),)

29.  names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])  data = np.random.randn(7, 4)

---
Find all the values from array **data** where the values from array **names** are not equal to **Will**

In [17]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe']) 
data = np.random.randn(7, 4)*10
mask = names != 'Will'
data[(mask)]

array([[ -7.53785086,   3.61853192,   0.61807856,  -7.31698299],
       [  6.66720017,  24.21081944,  -3.23823034, -23.47126039],
       [  3.64226047,  -3.44562406,  -2.47272486,   7.77048434],
       [  9.60288649,  -1.21813047,   4.72723332,   2.16852111],
       [  0.15602938,   9.21594386,   4.38302303,  -6.7633136 ]])

30. names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe']) data = np.random.randn(7, 4)

---
Find all the values from array **data** where the values from array **names** are not equal to **Will** and **Joe**

In [19]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe']) 
data = np.random.randn(7, 4)

condition = (names!='Will') & (names != 'Joe')
data[(condition)]

array([[-0.88649703,  0.80392353,  0.36545686,  0.14336665],
       [ 0.9086356 , -0.41454712,  0.32756726,  0.08901041]])

Difficulty Level **Hard**

31. Create a 2D array of shape 5x3 to contain decimal numbers between 1 and 15.

In [21]:
np.arange(1.0,16.0).reshape(5,3)

array([[ 1.,  2.,  3.],
       [ 4.,  5.,  6.],
       [ 7.,  8.,  9.],
       [10., 11., 12.],
       [13., 14., 15.]])

32. Create an array of shape (2, 2, 4) with decimal numbers between 1 to 16.

In [24]:
a=np.arange(1.0,17.0).reshape(2,2,4)
a

array([[[ 1.,  2.,  3.,  4.],
        [ 5.,  6.,  7.,  8.]],

       [[ 9., 10., 11., 12.],
        [13., 14., 15., 16.]]])

33. Swap axes of the array you created in Question 32

In [29]:
np.swapaxes(a,0,1)

array([[[ 1.,  2.,  3.,  4.],
        [ 9., 10., 11., 12.]],

       [[ 5.,  6.,  7.,  8.],
        [13., 14., 15., 16.]]])

34. Create an array of size 10, and find the square root of every element in the array, if the values less than 0.5, replace them with 0

In [43]:
x = np.arange(10)/8
y =np.sqrt(x)
print(y)
flter = y<0.5
y[(flter)]=0
print("______________ Value Replaced___________")
y

[0.         0.35355339 0.5        0.61237244 0.70710678 0.79056942
 0.8660254  0.93541435 1.         1.06066017]
______________ Value Replaced___________

array([0.        , 0.        , 0.5       , 0.61237244, 0.70710678,
       0.79056942, 0.8660254 , 0.93541435, 1.        , 1.06066017])

35. Create two random arrays of range 12 and make an array with the maximum values between each element of the two arrays

In [48]:
a = np.random.randn(12)
b=  np.random.randn(12)
print("--------a--------------------")
print(a)
print("--------b--------------------")
print(b)
print("----------max of a and b------------------")

print(np.maximum(a,b))

--------a--------------------
[-1.47257198 -2.78408115 -0.67097426 -0.31178836  0.76307595  1.67791409
 -0.37966326 -0.63929449  0.6128552  -1.67387788  0.17682131 -0.25781612]
--------b--------------------
[-0.3340712   1.85809317  0.91413328 -1.39125932 -1.57144582 -0.7826823
  0.00787361  0.19914638 -1.19944177  0.79126352 -1.1126733  -1.09522363]
----------max of a and b------------------
[-0.3340712   1.85809317  0.91413328 -0.31178836  0.76307595  1.67791409
  0.00787361  0.19914638  0.6128552   0.79126352  0.17682131 -0.25781612]

36. names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])

---
Find the unique names and sort them out!

In [49]:
np.unique(names)

array(['Bob', 'Joe', 'Will'], dtype='<U4')

37. a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])

---
From array a remove all items present in array b

In [54]:
a = np.array([1,2,3,4,5]) 
b = np.array([5,6,7,8,9])
c = np.setdiff1d(a,b)
c

array([1, 2, 3, 4])

38.  Following is the input NumPy array delete column two and insert following new column in its place.

---
sampleArray = numpy.array([[34,43,73],[82,22,12],[53,94,66]]) 


---

newColumn = numpy.array([[10,10,10]])

In [62]:
sampleArray = np.array([[34,43,73],[82,22,12],[53,94,66]]) 
print(sampleArray)
newColumn = np.array([[10,10,10]])
sampleArray[[1]] =newColumn
print('the new array is {0}'.format(sampleArray))

[[34 43 73]
 [82 22 12]
 [53 94 66]]
the new array is [[34 43 73]
 [10 10 10]
 [53 94 66]]

39. x = np.array([[1., 2., 3.], [4., 5., 6.]]) y = np.array([[6., 23.], [-1, 7], [8, 9]])


---
Find the dot product of the above two matrix

In [63]:
x = np.array([[1., 2., 3.], [4., 5., 6.]])
y = np.array([[6., 23.], [-1, 7], [8, 9]])

np.dot(x,y)

array([[ 28.,  64.],
       [ 67., 181.]])

40. Generate a matrix of 20 random values and find its cumulative sum

In [67]:
x =np.random.randn(20)

np.cumsum(x)

array([  0.27009353,  -0.45027379,   0.50954714,   0.22095932,
        -1.45399417,  -1.51990758,  -2.50957408,  -1.86077829,
        -2.29212997,  -1.78939483,  -3.46638046,  -5.35725567,
        -8.03210275,  -8.38519904,  -7.87359799,  -6.84685602,
        -8.03502605, -10.0780615 ,  -8.96257653,  -9.09553728])